{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO metadata -->
    <title>This Excellent Church - An Evangelical, Charismatic, and Reformed Community | About Us</title>
    <link rel="canonical" href="https://thisexcellentchurch.org" />
    <meta name="description"
        content="We are an evangelical, reformed and charismatic church in Lagos, Nigeria that affirms that salvation is by grace alone, through faith alone, in Christ alone, as revealed by scripture alone to the glory of God alone." />
    <meta name="google-site-verification" content="65SQPlyes0D9EL6G5T6Ft0IJ85-fPPwO2I0YFeI9G84" />
    <!-- Social media tags -->
    <meta property="og:title"
        content="This Excellent Church - An Evangelical, Charismatic, and Reformed Community | About Us" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_NG" />
    <meta property="og:site_name" content="This Excellent Church" />
    <meta property="og:description"
        content="We are an evangelical, reformed and charismatic church in Lagos, Nigeria that affirms that salvation is by grace alone, through faith alone, in Christ alone, as revealed by scripture alone to the glory of God alone." />
    <meta property="og:url" content="https://thisexcellentchurch.org/about" />
    <meta property="og:image" content="https://thisexcellentchurch.org/static/assets/logo.png" />
    <meta property="og:image:secure_url" content="https://thisexcellentchurch.org/static/assets/logo.png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:alt" content="This Excellent Church" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@thisexcellentch" />
    <meta name="twitter:title"
        content="This Excellent Church - An Evangelical, Charismatic, and Reformed Community | About Us" />
    <meta name="twitter:description"
        content="We are an evangelical, reformed and charismatic church in Lagos, Nigeria that affirms that salvation is by grace alone, through faith alone, in Christ alone, as revealed by scripture alone to the glory of God alone." />
    <meta name="twitter:image" content="https://thisexcellentchurch.org/static/assets/logo.png" />
    <meta name="template" content="This Excellent Church About Us" />
    <meta name="theme" content="White, Secondary Black" />
    <meta name="experiment-control" content="https://thisexcellentchurch.org/about" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#7b46f6" />
    <meta name="robots" content="index,follow" />
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <!-- Favicon tags -->
    <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static '/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <script src="{% static 'seo-structured-data.js' %}" defer></script>
</head>

<body class="full-height-grow">
    <div class="container full-height-grow">
        <nav>
            <div class="nav__content">
                <div class="logo">
                    <a href="/"><img width="95" src="{% static 'assets\logo.svg' %}" alt="TEC Logo" /></a>
                </div>
                <label for="check" class="checkbox">
                    <i class="ri-menu-line"></i>
                </label>
                <input type="checkbox" name="check" id="check" />
                <ul>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'about' %}">ABOUT TEC</a></li>
                    <li><a href="{% url 'resource' %}">RESOURCE CENTER</a></li>
                    <li><a href="{% url 'roadmap' %}">ROADMAP</a></li>
                    <li><a href="{% url 'contacts' %}">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
        <div id="title-we">
            <span>Who are </span>
            <span class="gray-text">We<span id="not-gray">?</span></span>
        </div>
        <section class="home-main-section" id="main-sec">
            <div class="call-to-action about_tec_1">
                <h1 class="title">About Us</h1>
                <span class="subtitle-i">This Excellent Church is an evangelical congregation with a heartfelt mission:
                    to reshape values and reconcile men back to God.

                    Located in Lagos, Nigeria, our vision is to see multitudes across our nation come to know Jesus,
                    delight in Him, and find ultimate satisfaction in Him.

                    As a Reformed church, we hold firmly to the Three Forms of Unity and embrace the Continuationist
                    perspective, affirming the enduring work of the Holy Spirit in empowering saints for service within
                    God's household.

                    We are formally registered as Phos Anthropos Global Ministry under the Nigerian Corporate Affairs
                    Commission.
                </span>
            </div>
            <div class="img-wrapper" id="img-tst">
                <div class="globe-img">
                    <img style="max-width: 475px" src="{% static 'assets\about_us_01.jpeg' %}" alt="TEC Family Pic 01"
                        class="responsive-img" />
                </div>
            </div>
        </section>
        <section class="home-main-section separate" id="main-sec">
            <div class="img-wrapper" id="img-tst">
                <div class="globe-img">
                    <img style="max-width: 475px" src="{% static 'assets\PHOTO-2024-09-21-21.jpg' %}"
                        alt="TEC Family Pic O2" class="responsive-img" />
                </div>
            </div>
            <div class="call-to-action">
                <h1 class="title">Our Mission</h1>
                <span class="subtitle-ii">To reshape men’s values and reconcile them back to God
                </span>
                <span class="subtitle-iix">
                    Our core values are - Love, Faith, Purity, Scholarship and Beauty.
                </span>
            </div>
        </section>
        <section class="home-main-section last-child-section" id="main-sec">
            <div class="call-to-action">
                <h1 class="title">Our Creeds</h1>
                <span class="subtitle-iii">
                    We are a part of the Apostolic Church of Jesus Christ and thus affirm the <a class="reg-link"
                        href="{% url 'creeds' %}">Nicene Creed and
                        Chalcedonian Creed</a> which embody the orthodox Christian beliefs. We hold to the
                    <a class="reg-link" href={% static 'assets/TEC Confession, Catechism and Creeds.pdf' %}
                        download>Three Forms of Unity</a> of the Protestant Reformation consisting of The Belgic
                    Confession, The Canons of Dort
                    and The
                    Heidelberg Catechism.
                </span>
            </div>
            <div class="img-wrapper" id="img-tst">
                <div class="globe-img">
                    <img style="max-width: 475px" src="{% static 'assets\PHOTO-2024-09-21-21-31-09.jpg' %}"
                        alt="TEC Family Pic 03" class="responsive-img" />
                </div>
            </div>
        </section>
        <div class="home-page-art-1"></div>
        <div class="home-page-art-2"></div>
        <div class="home-page-art-3"></div>
        <div id="img-art-1">
            <img src="" alt="" class="img-slide" id="img-s" />
        </div>

        <div class="big-titles">
            <span>Meet The </span>
            <span class="gray-text">Elders</span>
        </div>

        <div class="elder-row-container">
            <div class="elder-row" style="margin-bottom: 75px;">
                <div class="card">
                    <div class="profile-pic">
                        <img src="{% static 'assets\Samuel_Oyeyinka.jpeg' %}" alt="Samuel Oyeyinka (Teaching Elder)"
                            style="width: 100%" />
                    </div>
                    <div class="container">
                        <h2>Samuel Oyeyinka</h2>
                        <p class="">(Teaching Elder)</p>
                    </div>
                </div>

                <div class="card">
                    <div class="profile-pic">
                        <img src="{% static 'assets\Ellipse_10.png' %}" alt="Seye Maj' (Teaching Elder 02)"
                            style="width: 100%" />
                    </div>
                    <div class="container">
                        <h2>Seye Maj'</h2>
                        <p class="">(Teaching Elder)</p>
                    </div>
                </div>

                <div class="card">
                    <div class="profile-pic">
                        <img src="{% static 'assets\kingsley.JPG' %}" alt="Kingsley Akanihu (Elder 03)"
                            style="width: 100%" />
                    </div>
                    <div class="container">
                        <h2>Kingsley Akanihu</h2>
                        <p class="">(Elder)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="big-titles">
        <span>Meet The </span>
        <span class="gray-text">Deacons</span>
    </div>
    <div class="elder-row-container">
        <div class="elder-row deacon-row-width">
            <div class="card">
                <div class="profile-pic">
                    <img src="{% static 'assets/murewa.JPG'%}" alt="Murewa Ademola-Idowu (Deacon)"
                        style="width: 100%" />
                </div>
                <div class="container">
                    <h2>Murewa Ademola-Idowu</h2>
                    <p class="">(Deacon)</p>
                </div>
            </div>

            <div class="card">
                <div class="profile-pic">
                    <img src="{% static 'assets/ifeanyi.JPG'%}" alt="Ifeanyi Maj' (Deacon 02)" style="width: 100%" />
                </div>
                <div class="container">
                    <h2>Ifeanyi Maj'</h2>
                    <p class="">(Deacon)</p>
                </div>
            </div>

            <div class="card">
                <div class="profile-pic">
                    <img src="{% static 'assets\Ellipse_9.png' %}" alt="Ijeoma Oyeyinka (Deacon 03)"
                        style="width: 100%" />
                </div>
                <div class="container">
                    <h2>Ijeoma Oyeyinka</h2>
                    <p class="">(Deacon)</p>
                </div>
            </div>

            <div class="card">
                <div class="profile-pic">
                    <img src="{% static 'assets/Odunola_Ewetola.jpeg'%}" alt="Odunola Ewetola" style="width: 100%" />
                </div>
                <div class="container">
                    <h2>Odunola Ewetola</h2>
                    <p class="">(Deacon)</p>
                </div>
            </div>

            <div class="card">
                <div class="profile-pic">
                    <img src="{% static 'assets/Dara_Ewetola.jpeg'%}" alt="Olorundara Ewetola" style="width: 100%" />
                </div>
                <div class="container">
                    <h2>Olorundara Ewetola</h2>
                    <p class="">(Deacon)</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-t">
        <div class="container-footer">
            <div class="footer-row">
                <div class="footer-col">
                    <h4>TEC</h4>
                    <ul>
                        <li><a href="{% url 'about' %}">About TEC</a></li>
                        <li><a href="{% url 'contacts' %}">Contact Us</a></li>
                        <li><a href="{% url 'give' %}">Give</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Learn More</h4>
                    <ul>
                        <li><a href="{% url 'roadmap' %}">Roadmap</a></li>
                        <li><a href="{% url 'resource' %}">Resource Center</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Keep Up</h4>
                    <ul>
                        <li>
                            <a href="https://t.me/tec_media" target="_blank">Telegram</a>
                        </li>
                        <li>
                            <a href="https://thisexcellentchurch.mixlr.com" target="_blank">Mixlr</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@thisexcellentchurch" target="_blank">YouTube</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://x.com/thisexcellentch" target="_blank"><i class="fab fa-x-twitter"></i></a>
                        <a href="https://www.instagram.com/thisexcellentchurch/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>