{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SEO metadata -->
    <title>This Excellent Church | Resources</title>
    <link rel="canonical" href="https://thisexcellentchurch.org" />
    <meta
      name="description"
      content="We are an evangelical, reformed and charismatic church in Lagos, Nigeria that affirms that salvation is by grace alone, through faith alone, in Christ alone, as revealed by scripture alone to the glory of God alone."
    />
    <meta
      name="google-site-verification"
      content="65SQPlyes0D9EL6G5T6Ft0IJ85-fPPwO2I0YFeI9G84"
    />
    <!-- Social media tags -->
    <meta property="og:title" content="This Excellent Church | Resources" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_NG" />
    <meta property="og:site_name" content="This Excellent Church" />
    <meta
      property="og:description"
      content="We are an evangelical, reformed and charismatic church in Lagos, Nigeria that affirms that salvation is by grace alone, through faith alone, in Christ alone, as revealed by scripture alone to the glory of God alone."
    />
    <meta
      property="og:url"
      content="https://thisexcellentchurch.org/resource"
    />
    <meta
      property="og:image"
      content="https://thisexcellentchurch.org/static/assets/og-image.jpg"
    />
    <meta
      property="og:image:secure_url"
      content="https://thisexcellentchurch.org/static/assets/og-image.jpg"
    />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:alt" content="This Excellent Church" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@thisexcellentch" />
    <meta name="twitter:title" content="This Excellent Church | Resources" />
    <meta
      name="twitter:description"
      content="We are an evangelical, reformed and charismatic church in Lagos, Nigeria that affirms that salvation is by grace alone, through faith alone, in Christ alone, as revealed by scripture alone to the glory of God alone."
    />
    <meta
      name="twitter:image"
      content="https://thisexcellentchurch.org/static/assets/og-image.jpg"
    />
    <meta name="template" content="This Excellent Church Home" />
    <meta name="theme" content="White, Secondary Black" />
    <meta
      name="experiment-control"
      content="https://thisexcellentchurch.org/resource"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#7b46f6" />
    <meta name="robots" content="index,follow" />
    <!-- Styles -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'resources.css' %}" />
    <!-- Favicon tags -->
    <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static '/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static '/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static '/favicon-16x16.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static '/apple-touch-icon.png' %}"
    />
    <link rel="manifest" href="{% static '/site.webmanifest' %}" />
    <link
      rel="mask-icon"
      href="{% static '/safari-pinned-tab.svg' %}"
      color="#5bbad5"
    />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        //  showing the clicked tab
        $(".tabs-control a").click(function () {
          $(".tabs-control a").removeClass("active");
          $(this).addClass("active");

          let currentTab = $(this).attr("href");
          $(".box").hide();
          $(currentTab).fadeIn();

          // saving current tab to local storage
          let index = $(this).index();
          localStorage.setItem("currentTab", index);
        });

        //  getting last current tab from storage
        let getTab = 0;
        $(".tabs-control a").eq(getTab).addClass("active");
        $(".box").eq(getTab).show();
        //location.reload()
      });
    </script>
    <script>
      var input = document.getElementById("mySearch");
      // Execute a function when the user presses a key on the keyboard
      input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          // Cancel the default action, if needed
          // event.preventDefault();
          // Trigger the button element with a click
          document.getElementById("myBtn").click();
        }
      });
    </script>
  </head>
  <body>
    <nav class="nav-padding">
      <div class="nav__content">
        <div class="logo">
          <a href="/"
            ><img width="95" src="{% static 'assets\logo.svg' %}" alt=""
          /></a>
        </div>
        <label for="check" class="checkbox">
          <i class="ri-menu-line"></i>
        </label>
        <input type="checkbox" name="check" id="check" />
        <ul>
          <li><a href="{% url 'index' %}">HOME</a></li>
          <li><a href="{% url 'about' %}">ABOUT TEC</a></li>
          <li><a href="{% url 'resource' %}">RESOURCE CENTER</a></li>
          <li><a href="{% url 'roadmap' %}">ROADMAP</a></li>
          <li><a href="{% url 'contacts' %}">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
    <div class="full-height-grow">
      <div class="fixed-header" id="fixed-headery">
        <div class="container-search">
          <div class="searchInputWrapper">
            <input
              id="mySearch"
              class="searchInput"
              type="text"
              placeholder="Search"
            />
            <i class="searchInputIcon fa fa-search"></i>
            <button id="myBtn"></button>
          </div>
        </div>
        <div
          class="tabs-control w-100 bg-#F2F2F2 rounded-top-4 d-flex justify-content-start align-items-center"
        >
          <a href="#tab1" class="py-4 px-5 text-decoration-none text-dark"
            >All</a
          >
          <a href="#tab2" class="py-4 px-5 text-decoration-none text-dark"
            >Videos</a
          >
          <a href="#tab3" class="py-4 px-5 text-decoration-none text-dark"
            >Podcasts</a
          >
          <a href="#tab4" class="py-4 px-5 text-decoration-none text-dark"
            >Articles</a
          >
        </div>
      </div>
      <div class="container full-height-grow">
        <div class="section__container">
          <div class="box" id="tab1">
            <div class="resource-container content-style">
              <script src="{% static 'content.js' %}"></script>
            </div>
          </div>
          <div class="box" id="tab2">
            <div class="videocontent-container content-style"></div>
          </div>
          <div class="box" id="tab3">
            <div class="podcast-container content-style"></div>
          </div>
          <div class="box" id="tab4">
            <div class="article-container content-style"></div>
          </div>
        </div>
      </div>

      <footer class="footer-t">
        <div class="container-footer">
          <div class="footer-row">
            <div class="footer-col">
              <h4>TEC</h4>
              <ul>
                <li><a href="{% url 'about' %}">About TEC</a></li>
                <li><a href="{% url 'contacts' %}">Contact Us</a></li>
                <li><a href="{% url 'give' %}">Give</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Learn More</h4>
              <ul>
                <li><a href="{% url 'roadmap' %}">Roadmap</a></li>
                <li><a href="{% url 'resource' %}">Resource Center</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Keep Up</h4>
              <ul>
                <li>
                  <a href="https://t.me/tec_media" target="_blank">Telegram</a>
                </li>
                <li>
                  <a
                    href="https://thisexcellentchurch.mixlr.com"
                    target="_blank"
                    >Mixlr</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/@thisexcellentchurch"
                    target="_blank"
                    >YouTube</a
                  >
                </li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="https://x.com/thisexcellentch" target="_blank"
                  ><i class="fab fa-x-twitter"></i
                ></a>
                <a
                  href="https://www.instagram.com/thisexcellentchurch/"
                  target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
